/dist
/MANIFEST
*pyc
/docs/_build
.idea/
*.iml
urbanairship.egg-info/
.DS_Store
/build
.tox/
.vscode/
test_data.csv
.pytest_cache/v/cache/stepwise
.pytest_cache/v/cache/lastfailed
nosetests.xml
.noseids
.pytest_cache/v/cache/nodeids
